@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
	color:#666666; margin:0; font-family: "Poppins", sans-serif; font-size: 16px
}
header{
	width: 100%; height: 60px; background-color:#A9A9A9 ; border-bottom: 1px solid #2B2525
}
.menu{
	padding-top: 20px
}
.menu ul{
	margin: 0; padding: 0; list-style: none; display: flex
}
.menu ul li a{
	padding:10px 20px; text-decoration: none; font-size: 17px; color: #454545; border-radius: 20px
}
.menu ul li a:hover{
	background-color:darkred; color:white
}

#slider .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slider .owl-dots .owl-dot span {
      width: 12px;
      height: 12px; 	
}

#slider .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slider .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #fff
}

#slider .owl-nav .owl-next{ position:absolute; right:5%;}
#slider .owl-nav .owl-prev{ position:absolute; left:5%;}
#slider .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:yellow;
      text-decoration: none; }
.w-30{
	width: 30%; padding: 15px; min-height: 400px;
}
.w-70{
	width: 70%; padding: 15px;min-height: 400px; 
}
main{
	width: 100%; min-height: 500px
}
.text-do{
	color:#A20709
}
.w-30 ul{
	margin:0;padding:0; list-style: none; display:flex; flex-direction: column
}
.w-30 ul li a{
	padding: 10px; display:block; text-decoration: none
}
.w-30 ul li a:hover{
	background-color:#676060; color: white
}
.w-30 ul li{
	border-bottom: 1px solid #B9B9B9
}
footer{
	width: 100%; min-height: 400px; background-color:#CFCFCF
}
.p-15{
	padding: 1px;
}
footer a{
	text-decoration: none; color:black
}
footer a:hover{
	color:#0059B8
}
.bg-xanh{
	background-color:#8CABF8;width: 100%; text-align: center;min-height:400px; padding: 0;
}
footer ul{
	margin:0px; padding:0px; list-style:none; display:flex; flex-direction:column;
}
footer ul li a{
	padding: 3px; display: block
}
footer ul li a:hover{
	color: white
}

